*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEAD SECTION */

.head_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    padding: 10px;

}

.head_container .head {
    text-wrap: wrap;
    text-align: center;
    color: #005CA9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

/* NAVBAR SECTION */

.navbar {
    background-color: #039418;
}

.navdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

ul li {
    list-style-type: none;
    margin: 0 2rem 0 0;
    padding: 5px;
    border-right: white dotted;
    border-width: 1px;

}
ul li:nth-child(1) {
    border-left: white dotted;
    border-width: 1px;

}

li a {
    padding: 5px 10px;
    border-color: #fff;
    text-decoration: none;
    color: white;


}

li a:hover {
    padding: 5px 10px;
    background-color: #F8E962;
    color: black;
    transition: all 0.3s ease;
}


/* BODY SECTION */

body {
    background: linear-gradient(to top, #A6CEAC, white);
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* MARQUEE SECTION */
.marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d6d3d3;
    padding: 0.2rem;
    margin-top: 0.5rem 0rem 0.2rem 0rem;
}

.marquee p {
    padding: 0.2rem;
    background-color: #CF0A1B;
    color: #fff;
}

/* Main section */
.main_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
}

/* Parent sections */
.main_body {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    background-color: white;

}



/* Main-parent-1 section */
.main_parent-1 {
    display: flex;
    flex-flow: column wrap;
    text-align: start;
    text-wrap: wrap;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 5px 5px 5px #e9e8e8;
    border: 1px solid rgb(240, 234, 234);
    background: linear-gradient(to top, #d9f5dd, white);

}


.parent1-child {
    margin-top: 5px;
    padding: 0.2rem;
    border-radius: 5px;
}

.main_parent-1 img {
    width: 100%;
    padding: 0.2rem;
    min-height: auto;
    max-width: auto;
}


.parent1-child article {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    font-size: small;
    padding: 5px;

}


/* Main-parent-2 section */

.main_parent-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}


.parent2-child {
    max-width: 250px;
    width: 100%;
    min-height: 250px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #cdc7c7;
    background-color: #f1f8f4;
}

.parent2-child p {
    font-size: 0.7rem;

}

.parent2-child img {
    margin-top: 10px;
    border-radius: 0.5rem;
}

/* Parent-child-3 section*/

.main_parent-3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;

}

.parent3-child {
    max-width: 250px;
    width: 100%;
    min-height: 300px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(205, 199, 199);
    background-color: #f1f8f4;

}

.parent3-child p {
    font-size: 0.8rem;
}


/* Universal*/
h3 {
    font-size: medium;
    text-wrap: wrap;
    text-align: center;
    padding: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e0cd3f;
}

a{
    color: #039418;
    font: bold;
    text-decoration: none;
}



/* Aside section */

.aside_body {
    background-color: white;
    max-width: 300px;
    top: 0;
    vertical-align: top;
    width: 100%;
}

.aside_parent {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
}

.item-1,
.item-2,
.item-3 {
    padding: 0.5rem;
    border-radius: 1rem;
    background: linear-gradient(to top, #b8cebb, white);
    background-color: #f1f8f4;
    border: 1px solid rgb(205, 199, 199);
    max-width: 250px;
    width: 100%;
    cursor: pointer;

}


.item-1 {
    flex-grow: 3;
}

.item-2 {
    flex-grow: 2;
}

.item-2 h3 {
    font: bolder;
}

.item-3 {
    max-height: 500px;
    height: 100%;
    flex-grow: 3;
}

.item-4 {
    min-height: auto;
    min-width: fit-content;
}


/* footer section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
}




@media screen and (max-width:476px) {
    .parent2-child {
        max-width: 250px;
        width: 100%;
        min-height: 250px;
        padding: 0.5rem;
        border-radius: 1rem;
        border: 1px solid rgb(205, 199, 199);
        background-color: #f1f8f4;
    }

    .head_container .head {
        text-wrap: wrap;
        text-align: center;
        color: #005CA9;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: medium;
    }

  

    ul {
        display: flex;
        justify-content: center;
        min-height: auto;
        overflow: scroll;
    }
    

}


/* @media screen and (min-width:776px) {
    .aside_parent {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 1rem;
    }


}

@media screen and (max-width: 1199.98px) {

    .aside_parent {
        width: 100%;
        display: grid;
        flex-flow: row nowrap;

        background-color: white;
        gap: 1rem;
        padding: 0.5rem;
    }

} */