*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    padding: 10px;

}


.navbar {
    padding: 0.2rem;
    background-color: #049A1E;
}

.navdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

ul li {
    list-style-type: none;
    margin: 0 2rem 0 0;
}

li a {
    font-family: 'Times New Roman', Times, serif;
    padding: 0.1rem;
    border-color: #fff;
    text-decoration: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a:hover {
    padding: auto;
    background-color: #F8E962;
    color: black;
}


a button {
    padding: 0.7rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
}


.head_container .head {
    text-align: center;
    color: #005CA9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}


body {
    background: linear-gradient(to top, #A6CEAC, white);
    background-repeat: no-repeat;
    min-height: 100%;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    width: 100%;
    background-color: #d6d3d3;
    padding: 0.2rem;
    margin-top: 0.5rem 0rem 0.2rem 0rem;
}

.marquee p {
    padding: 0.2rem;
    background-color: #CF0A1B;
    color: #fff;
}

/* Main section */
.main_container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;

}

/* Parent sections */
.main_body {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
    background-color: white;
}



/* Main-parent-1 section */
.main_parent-1 {
    display: flex;
    flex-flow: column wrap;
    text-align: start;
    text-wrap: wrap;
    background-color: white;
    border: 1px solid rgb(205, 199, 199);
}


.main_parent-1 img {
    width: 100%;
    padding: 0.2rem;
    min-height: auto;
    max-width: auto;
}

.parent1-child {
    padding: 0.2rem;
}

.parent1-child article {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
}


/* Main-parent-2 section */

.main_parent-2 {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
    border: 1px solid rgb(205, 199, 199);
}


.parent2-child {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(205, 199, 199);
    background-color: #f1f8f4;
}

.parent2-child p {
    font-size: 0.7rem;
}

.parent2-child img {
    border-radius: 0.5rem;
}

/* Parent-child-3 section*/

.main_parent-3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
    border: 1px solid rgb(205, 199, 199);
}

.parent3-child {
    max-width: 250px;
    width: 100%;
    min-height: 300px;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(205, 199, 199);
    background-color: #f1f8f4;
}

.parent3-child p {
    font-size: 0.8rem;
}


/* Universal*/
h3 {
    text-align: center;
    padding: 0.3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e0cd3f;
}



/* Aside section */

.aside_body {
    border: 1px solid rgb(205, 199, 199);
    background-color: white;
    max-width: 300px;
    top: 0;
    vertical-align: top;
    width: 100%;
}

.aside_parent {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 1rem;
    padding: 0.5rem;
}

.item-1,
.item-2,
.item-3 {
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgb(205, 199, 199);
    background-color: #f1f8f4;
    max-width: 250px;
    width: 100%;
}


.item-1 {
    flex-grow: 3;
}

.item-2 {
    flex-grow: 2;
}

.item-2 .inner_item {
    text-align: start;
    font:bolder;
}

.item-3 {
    max-height: 500px;
    height: 100%;
    flex-grow: 3;
}

.item-4 {
    flex-grow: 1;
}


@media screen and (max-width:576px) {
    .head_container img {
        display: none;
    }


    .aside_body {
        border: 1px solid rgb(205, 199, 199);
        background-color: white;
        min-width: auto;
        max-width: 1000px;
        width: 100%;
    }


    .head_container .head {
        text-wrap: wrap;
        text-align: center;
        color: #005CA9;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: large;
    }
}

@media screen and (max-width:776px) {
    .aside_parent {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 1rem;
        padding: 0.5rem;
    }
}